# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment & secrets
.env
.env.*

# Uploads / temp runtime files
uploads/*
!uploads/.gitkeep

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store

